{% extends 'front/base.html' %}

{% block content %}
    <div class="animal">
        {% if animal.date_publication %}
            <div class="date">
                {{ animal.date_publication }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        	<a class="btn btn-default" href="{% url 'animal_edit' pk=animal.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ animal.nom }}</h1>
        <p>{{ animal.description|linebreaksbr }}</p>
    </div>
{% endblock %}